//Loading The Roboto Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Colors
@primary: #00BF8C;
@secondary: #505050;
@tertiary: #FEFEFE;
@four: #B5B3B3;

//Core Styles
body{
	font-family: 'Open Sans', sans-serif;
	color: secondary;
	font-size: 14px;
	font-weight: bold;
	background: tertiary;
	overflow-x: hidden;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.container{
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
}